<!--<div class="g-ft">
  <div class="m-ft2"><a target="_blank" rel="nofollow" href="http://www.lofter.com/contact">联系我们</a><span>|</span><a target="_blank" rel="nofollow" href="http://i.lofter.com/tag/招聘">招贤纳士</a><span>|</span><a target="_blank" rel="nofollow" href="http://www.lofter.com/app">移动客户端</a><span>|</span><a target="_blank" rel="nofollow" href="http://www.lofter.com/themes">风格模板</a><span>|</span><a target="_blank" rel="nofollow" href="http://i.lofter.com">官方博客</a></div>
  <div style="margin-top:10px;">网易公司版权所有　©1997-2016　<a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017" style="position:relative;"><img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;"><span style="margin-left:18px;">浙公网安备 33010002000017号</span></a><span style="margin-left:20px;">ICP备：浙B2-20090185-5</span><span style="margin-left:20px;">增值电信业务经营许可证：浙B2-20090185</span></div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="table_list">
            </div>
        </div>
    </div>
</div>-->
<!--<div class="col-md-12" id="aside_nav">
    <form class="navbar-form text-center">
        <div class="form-group">
联系我们
        </div>
    </form>
</div>-->
<!--<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">

  <div class="m-ft2"><a target="_blank" rel="nofollow" href="http://www.lofter.com/contact">联系我们</a><span>|</span><a target="_blank" rel="nofollow" href="http://i.lofter.com/tag/招聘">招贤纳士</a><span>|</span><a target="_blank" rel="nofollow" href="http://www.lofter.com/app">移动客户端</a><span>|</span><a target="_blank" rel="nofollow" href="http://www.lofter.com/themes">风格模板</a><span>|</span><a target="_blank" rel="nofollow" href="http://i.lofter.com">官方博客</a></div>
  <div style="margin-top:10px;">网易公司版权所有　©1997-2016　<a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017" style="position:relative;"><img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;"><span style="margin-left:18px;">浙公网安备 33010002000017号</span></a><span style="margin-left:20px;">ICP备：浙B2-20090185-5</span><span style="margin-left:20px;">增值电信业务经营许可证：浙B2-20090185</span></div>
    </div>
    </div>
</nav>-->
<!--<nav class="navbar navbar-bottom navbar-fixed-bottom" role="navigation">-->
<nav class="navbar navbar-bottom" role="navigation" style="margin-bottom: 0px;">
    <aside class="col-md-12">
        <form class="navbar-form text-center">
            <div class="form-group">
                <ul class="nav navbar-nav">
                <li>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <a href="#">
                        2016 © taoquanzhong.com All Rights Reserved
                    </a>
                </li>
                <!--<li>
<a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017">浙公网安备 33010002000017号</span></a>
                </li>
                <li>
                    <a href="#">ICP备：浙B2-20090185-5</a>
                </li>-->
                </ul>
            </div>
        </form>
    </aside>
</nav>