<header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div id="nav_centent">
                    <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/">嗨，欢迎来淘权重</a>
                            </li>
                            <% if(!user){ %>
                            <li>
                                <a href="/user/login.html">请登录</a>
                            </li>
                            <li>
                                <a href="/user/register.html">免费注册</a>
                            </li>
                            <% }else{ %>
                            <li>
                                <a href="/user/logout">您好<%= user[0].account%>, 退出</a>
                            </li>
                            <li>
                                <a id="modal-341520" href="#modal-container-341520" role="button" class="btn" data-toggle="modal">邀请注册链接</a>
                            </li>
                            <% } %>
                            <li>
                                <a id="modal_bind_account" href="#modal_bind_href" role="button" data-toggle="modal"><span id="bind_account">买号绑定</span></a>
                            </li>
                            <li>
                                <a href="/taoquanzhong/shop.html">购买月卡</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="qq_chat" href="javascript:;" title="点击客服QQ进行聊天或者添加好友">
                                    <img src="/img/qq.png" height="16" style="padding-bottom: 2px;">&nbsp;客服QQ：517221264
                                </a>
                                <iframe style="display:none;" class="qq_iframe" src=""></iframe>
                            </li>
                            <li>
                                <a href="javascript:alert('暂未开放')">
                                    个人中心
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </nav>

</header>
<% if(user){ %>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="modal fade" id="modal-container-341520" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								邀请注册链接
							</h4>
						</div>
						<div class="modal-body">
							<p>快复制以下链接发送给好朋友吧！</p>
                            <p><%= localhost; %>/user/register.html?referrer=<%= user[0].id; %></p>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<% } %>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="modal fade" id="modal_bind_href" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:360px;">
					<div class="modal-content text-center">
						<div class="modal-header">
							 <button type="button" class="close js-close-check" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								买号绑定
							</h4>
						</div>
						<div class="modal-body center">
							<p id="p_bind_tips">请使用 <b>手机淘宝</b> 扫描下面的二维码</p>
                            <div id="div_bind_account" class="text-center">二维码加载中...</div>
                            <img id="img_bind_account" src="">
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default js-close-check" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary js-close-check" data-dismiss="modal">确定</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>