<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" charset="utf-8">
    <!--在iPhone上手机号不默认显示为拨号连接-->
    <meta name="format-detection" content="telephone=no">
    <title>淘权重 - 用户信息</title>
    <% include ../inc/header.html %>
    <!--<link rel="shortcut icon" href="/img/taoquanzhong/logo.png" />-->
    <!--<link rel="Bookmark" href="/img/taoquanzhong/logo.png">-->
    <link rel="stylesheet" type="text/css" href="/css/taoquanzhong/index.css"/>
</head>
<body>
<% include header.html %>
<article class="clearfix head-article">
    <main class="col-md-12">
        
    </main>
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img alt="300x200" src="../../img/card110.png" />
                                    <div class="caption">
                                        <h3>
                                            月卡
                                        </h3>
                                        <p>
                                            一个月的查询期限
                                        </p>
                                        <p>
                                            天数：30天
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="javascript:alert('暂不支持自动购买，请联系QQ客服进行购买，不便之处敬请谅解;\n客服QQ:517221264');">购买</a> <a class="btn" href="#">￥ 110</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img alt="300x200" src="../../img/card280.png" />
                                    <div class="caption">
                                        <h3>
                                            季卡
                                        </h3>
                                        <p>
                                            三个月的查询期限
                                        </p>
                                        <p>
                                            天数：90天
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="javascript:alert('暂不支持自动购买，请联系QQ客服进行购买，不便之处敬请谅解;\n客服QQ:517221264');">购买</a> <a class="btn">￥ 280</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img alt="300x200" src="../../img/card540.png" />
                                    <div class="caption">
                                        <h3>
                                            半年卡
                                        </h3>
                                        <p>
                                            六个月的查询期限
                                        </p>
                                        <p>
                                            天数：180天
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="javascript:alert('暂不支持自动购买，请联系QQ客服进行购买，不便之处敬请谅解;\n客服QQ:517221264');">购买</a> <a class="btn">￥ 540</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img alt="300x200" src="../../img/card1000.png" />
                                    <div class="caption">
                                        <h3>
                                            年卡
                                        </h3>
                                        <p>
                                            十二个月的查询期限
                                        </p>
                                        <p>
                                            天数：365天
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="javascript:alert('暂不支持自动购买，请联系QQ客服进行购买，不便之处敬请谅解;\n客服QQ:517221264');">购买</a> <a class="btn" href="#">￥ 1000</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    </div>
</article>

<% include ../inc/footer.html %>
<script src="/js/taoquanzhong/user_info.js" type="text/javascript" charset="utf-8"></script>