<aside class="col-md-12" id="aside_nav">
    <form class="navbar-form text-center">
        <div class="form-group">
            <ul class="nav nav-pills">
            <li class="<%= type == 'index' ? 'active' : '' %>">
                <a href="/taoquanzhong/index.html">淘权重</a>
            </li>
            <li class="<%= type == 'need' ? 'active' : '' %>">
                <a href="/taoquanzhong/need.html">淘需求</a>
            </li>
            <li class="<%= type == 'like' ? 'active' : '' %>">
                <a href="/taoquanzhong/like.html">淘喜欢</a>
            </li>
            <!--<li>
                <a href="#">淘天猫</a>
            </li>
            <li>
                <a href="#">淘数据</a>
            </li>-->
            <li class="<%= type == 'tag' ? 'active' : '' %>">
                <a href="/taoquanzhong/tag.html">淘标签</a>
            </li>
            </ul>
        </div>
    </form>
</aside>