<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" charset="utf-8">
    <!--在iPhone上手机号不默认显示为拨号连接-->
    <meta name="format-detection" content="telephone=no">
    <title>淘权重 - 权重查询</title>
    <% include ../inc/header.html %>
    <!--<link rel="shortcut icon" href="/img/taoquanzhong/logo.png" />-->
    <!--<link rel="Bookmark" href="/img/taoquanzhong/logo.png">-->
    <link rel="stylesheet" type="text/css" href="/css/taoquanzhong/index.css"/>
</head>
<body>
<% include header.html %>
<article class="clearfix head-article">
    <% include sider.html %>
    <main class="col-md-12">
        <form class="navbar-form text-center" role="search" id="form_search">
            <div class="form-group">
                <input type="text" class="form-control" style="border-color: #72c9d1" id="put_search" name="account" value="" placeholder="请输入旺旺号" required/>
            </div>
            <input name="api_key" type="hidden" value="30f387b84ebaadf8efe518e00f1583a6">
            <input id="action_type" type="hidden" value="tag">
            <button type="submit" class="btn btn-default" id="btn_search"><span class="glyphicon">淘一下</span></button>
        </form>
    </main>
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12">
            <div class="text-center">
                <div id="table_list">
                    <img src="/img/tag.jpg">
                </div>
            </div>
		</div>
	</div>
</div>
</article>

<% include footer.html %>
<% include ../inc/footer.html %>
<script src="/js/taoquanzhong/index.js" type="text/javascript" charset="utf-8"></script>

<!--渲染表单-->
<script id="tpl_list" type="text/template">
<form class="form-horizontal" id="formTags" role="form">
    <div class="form-group" data-data="">
        <label class="col-sm-offset-2 col-sm-2 control-label">旺旺头像：</label>
        <div class="col-sm-4">
            <img src="https://wwc.alicdn.com/avatar/getAvatar.do?userNick=929392796lzy&amp;width=80&amp;height=80&amp;type=sns&amp;_input_charset=UTF-8" alt="旺旺头像" id="imgAvatar" class="img-responsive img-circle">
        </div>
    </div>
    <div class="form-group" data-data="">
        <label class="col-sm-offset-2 col-sm-2 control-label">个性化标签：</label>
        <div class="col-sm-4">
            <div class="list-group">
                {{ each list }}
                <li class="list-group-item">{{ $value }}</li>
                {{ /each }}
            </div>
        </div>
    </div>
</form>
</script>
</body>
</html>